LIST

# **LIST**

In [ ]:
!pip install numpy
#creating a list of 10 integers
numbers = [1,2,12,4,5,6,7,8,9,10]
print('Original List',numbers)
# sum,max,min
print('Sum',sum(numbers))
print('Max',max(numbers))
print('Min',min(numbers))
#Adding number to the list
numbers.append(11)
#Removing number from the list
numbers.remove(5)
print('Updated List',numbers)
#Sort ascending and descending
print('Ascending',sorted(numbers))
print('Descending',sorted(numbers,reverse=True))

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Original List [1, 2, 12, 4, 5, 6, 7, 8, 9, 10]
Sum 64
Max 12
Min 1
Updated List [1, 2, 12, 4, 6, 7, 8, 9, 10, 11]
Ascending [1, 2, 4, 6, 7, 8, 9, 10, 11, 12]
Descending [12, 11, 10, 9, 8, 7, 6, 4, 2, 1]

# **Tuples**

In [9]:
# creating a tuple with 5 strings
fruits = ('apple','banana','orange','grapes','mango')
print(fruits)
#printing the second last and last index
print('Second Element :',fruits[1])
print('Last Element :',fruits[-1])
#try to modify so give error or not
#fruits[1] = 'kiwi'

#now add element to tuple through converting it to list and than back to tuple
fruits = list(fruits)
fruits.append('kiwi')
fruits = tuple(fruits)
print(fruits)

('apple', 'banana', 'orange', 'grapes', 'mango')
Second Element : banana
Last Element : mango
('apple', 'banana', 'orange', 'grapes', 'mango', 'kiwi')

# **Dictionary**

In [12]:
#creating 5 keys-values of studentnames and marks
student_marks = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 95,
    'Eve': 88
}

print(student_marks)
#print value and keys
print('Keys :',student_marks.keys())
print('Updated Dictionary',student_marks)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Eve': 88}
Keys : dict_keys(['Alice', 'Bob', 'Charlie', 'David', 'Eve'])
Updated Dictionary {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Eve': 88}

# **Numpy**

# **Sets**

In [11]:
#creating two sets with some common and unique elements
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
#union
print('Union',set1.union(set2))
#intersection
print('Intersection',set1.intersection(set2))
#diffrences
print('Difference',set1 - set2)

Union {1, 2, 3, 4, 5, 6, 7, 8}
Intersection {4, 5}
Difference {1, 2, 3}

# **Matplotlib**